<%= form_with(model: @post, url: posts_path, local: true, multipart: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="fdb-block fp-active" style="background-image: url(../gahag-0094418071-1.jpg)" data-block-type="forms" data-id="3" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
        <div class="fdb-box fdb-touch">
          <div class="row">
            <div class="col">
              <h1>確認画面</h1>
              <p class="text-h3">以下の内容で投稿してよろしいですか？</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="field">
                <%= image_tag(@post.image_url, :style => " width: 100%; object-fit: cover") if @post.image.url %>
                <%= form.hidden_field :image_cache %>
                <%= form.hidden_field :title %>
                <%= form.hidden_field :comment %>
                <label class="btn btn-primary">
                	<strong>＋写真を選択する</strong>
                <%= form.file_field :image, id: :feed_image, :style=>"display:none;"%>
              </label>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <%= form.text_field :comment ,:class=>"form-control", :placeholder=>"メッセージを入力"%>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <%= form.submit "投稿する", :class=>"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
