<section class="fdb-block fp-active" style="background-image: url(../gahag-0094418071-1.jpg)" data-block-type="forms" data-id="3" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
        <div class="fdb-box fdb-touch">
          <div class="row">
            <div class="col">
              <h1>投稿詳細</h1>
              <p class="text-h3">お気に入りから気に入った投稿をチェック！</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="field">
                <%= image_tag(@post.image_url, :style => " width: 100%; object-fit: cover;  border:solid 1px #ccc;padding:4px;") if @post.image.url %>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <h3><strong><%= @post.user.name %>さんの投稿</strong></h3>
              <p><%= @post.comment %></p>
            </div>
          </div>
          <hr>
          <div class="row mt-4">
            <div class="col">
              <% @comments.each do |c| %>
              <div>
              <strong><%= c.user.name %>さん</strong>
                <%= c.content %>
                <p><%= link_to '', recomment_path(id: c.id), method: :delete, class: 'fa fa-trash', data: { confirm: '本当に削除しますか?'}  %></p>
              <hr>
              </div>
              <% end %>
              <%= form_with(model: @comment, local: true) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :post_id, :value => @post.id %>
              <div class="input-group">
              <%= f.search_field :content, :class=>"form-control col-xs-8 col-md-10" %>
                  <span class="input-group-btn">
                    <div class="btn btn-default"><%= f.submit "コメントする", :class=>"btn btn-default"%></div>
                  </span>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <% unless @post.user_id == current_user.id %>
                <% if @favorite.present? %>
                  <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'fa fa-star' %>
                <% else %>
                  <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'fa fa-star-o' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <a href="/posts">一覧画面にもどる</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
